.header {
  background-color: var(--color-primary-3);
  height: 3rem;
  box-shadow: 0 1px 3px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.branding {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  height: 100%;
}

.branding img {
  height: 100%;
  max-width: 100%;
}

.navigation {
  display: none;
  width: 75%;
  text-align: right;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: inline-block;
  margin: 0 1rem;
}

.list-item a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary-1);
}

.list-item a:hover,
.list-item a:active {
  color: var(--color-primary-4);
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--color-primary-4);
}

@media (min-width: 640px) {
  .navigation {
    display: inline-block;
    vertical-align: middle;
  }
}