.content {
  margin-top: calc(1rem + var(--header-height));
  height: calc(100vh - var(--header-height));
}

@media (min-width: 640px) {
  .content {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}